<h2>Ingredients</h2>

<img alt = 's1.jpg' src="assets/s1" width="700" height="400" alt="Syrniky" />
<p>3 tablespoon of flour <br>
2-3 tablespoons of sugar <br>
2 eggs <br>
500 grams of water <br>
flour for breading, vegetable oil for frying <br</p>
