<h2 class = "zagolovok">Ingredients</h2>
  <div class="container">
    <div>
      <img alt = 's1.jpg' src="assets/s1" width="700" height="400" alt="Syrniky">
    </div>

    <div>
      <p>
        <ul>
          <li>3 tablespoon of flour <br></li>
          <li>2-3 tablespoons of sugar <br></li>
          <li>2 eggs <br></li>
          <li>500 grams of water <br></li>
          <li>flour for breading, vegetable oil for frying <br></p></li>
        </ul>
      </p>
    </div>

    <h2>How many people to be eating your dish?</h2>

  </div>
</div>

